
	
*{font-family: open sans, sans-serif;}
.fs11{font-size:20px;color:black;margin-left:20px;margin-top:20px }
.fs11:hover{font-size:20px;color:red;margin-left:20px;margin-top:20px }

.fs12{font-size:20px;color:#ffffff;}
.fs12:hover{font-size:20px;color:red;}
.fs1{font-size:20px;color:black;}
.fs1:hover{font-size:20px;color:red;}

.fs2{font-size:20px;color:black;margin-left:10px }
.fs2:hover{font-size:20px;color:red;margin-left:10px }

.i{color:#ffffff }
.i:hover{color:red }

.i2{color:#ffffff;font-size:30px }
.i2:hover{color:#bdbdbd;font-size:30px}

.fl{float:left;}
.l1{background:#1d2e4a;height:35px;width:100%}

.wh{color: #ffffff;font-size:15px;margin-left:30px;margin-top:0px }

.l2{background:#ffffff;height:90px;width:100%;display:block;position:sticky;top:0 }
.menu{margin-top: 40px;margin-left: 30px;float: left;color: black;}
.menu:hover{margin-top: 40px;margin-left: 30px;float: left;color: red;}

.cbr{color:black;}
.cbr:hover{color:red;}

.l3{height:100px;width:100%;background:#1d2e4a}
.l4{height:100px;width:250px;background:#ffffff}
.pd1{padding-top:15px;font-size:20px }





.l5{height:650px;width:100%;margin-top:50px;}
.lbox1{height:650px;width:60%;margin-left:80px;float:left; }
.lbox2{height:100px;width:400px;float:left;margin-top:10px }
.lbox3{height:100px;width:400px;float:left;margin-top:10px;margin-left:5px }
.lbox4{height:100px;width:820px;float:left; }
.lbox5{height:280px;width:820px;float:left;}
.lb1{height:50px;width:180px;color:lightcoral;border-color:lightcoral;border-radius:50px;font-size:15px }
.lb1:hover{height:50px;width:180px;color:#fff;background:lightcoral;border-radius:50px;font-size:15px }


.rbox1{height:650px;width:27%;float:left;margin-left:20px }
.rbox2{height:300px;width:280px;float:left; }
.rbox3{height:50px;width:270px;float:left;margin-top:10px }
.lb2{border-radius:50px;color:#fff;background:red;border-style: none;height:30px;width:30px;}

.ll1{height:500px;width:100%;background:yellow; }
















.l6{height:100px;width:100%;}
.box6{height:80px;width:30%;}
.b4{color:black;height:50px;width:50px;float:left;margin-left:5px }
.b4:hover{color:#fff;background:#303e4b;height:50px;width:50px;float:left;margin-left:5px }
.b5{color:black;background:#2396fa ;height:50px;width:50px;float:left;margin-left:5px;border-style:none; }
.l29{height:800px;width:100%}
.images30{background:black url(images/footerbg.png);background-size:cover;background-position:center;height:900px;width:100%;background-attachment:fixed;}
/*.bt1{height:900px;width:100%;background:#333333e0;;line-height:2}*/
.fs13{font-size:20px;color:#ffffff;padding-top:20px }
.box11{height:200px;width:89%;background:#ffffff}
.images31{background-image:url(images/footer2.jpg);height:200px;width:200px;background-size:cover;background-position:center;float:left;}
.images32{background-image:url(images/footer1.jpg);height:200px;width:200px;background-size:cover;background-position:center;float:left; }
.images33{background-image:url(images/footer3.jpg);height:200px;width:200px;background-size:cover;background-position:center;float:left; }
.images34{background-image:url(images/footer4.jpg);height:200px;width:200px;background-size:cover;background-position:center;float:left; }
.images35{background-image:url(images/footer2.jpg);height:200px;width:200px;background-size:cover;background-position:center;float:left; }
.images36{background-image:url(images/footer3.jpg);height:200px;width:199px;background-size:cover;background-position:center;float:left; }
.cw{color:#ffffff }
.box12{height:300px;width:400px;margin-left:50px;float:left; }
.box13{height:510px;width:400px;margin-left:10px;float:left; }
.box7{height:400px;width:170px;float:left; }
.box8{height:400px;width:170px;float:left;margin-left:10px }
.box9{height:300px;width:400px;margin-left:10px;float:left;}
.box10{height:150px;width:400px;float:left;}
.red{background: red;color:#ffffff;border-style:none;}

